<section class="misc">
  <a class="misc__item" href="https://github.com/se-panfilov/jsvat">
    <i class="fa fa-github" aria-hidden="true"></i>
    Source code
  </a> |
  <a class="misc__item" href="https://github.com/se-panfilov/jsvat/blob/master/LICENSE">
    <i class="fa fa-balance-scale" aria-hidden="true"></i>
    MIT Licence
  </a>
  <a class="misc__item" href="https://github.com/se-panfilov/jsvat/releases">
    <i class="fa fa-rocket" aria-hidden="true"></i>
    Release notes
  </a> |
  <a class="misc__item" href="https://github.com/se-panfilov/jsvat/issues">
    <i class="fa fa-bolt" aria-hidden="true"></i>
    Issues
  </a>
  Author: <a class="misc__item" href="https://se-panfilov.github.io/">
  <i class="fa fa-globe" aria-hidden="true"></i>
  Sergei Panfilov</a> |
  Email: <a class="misc__item" href="mailto:se-panfilov@ya.ru">
  <i class="fa fa-envelope-o" aria-hidden="true"></i> se-panfilov@ya.ru</a>
</section>
