@import "../../assets/colors";

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  background-color: #1a1e23;

  &__button {
    color: $primary_color;
    font-weight: bold;

    &:last-child {
      margin-left: auto;
    }
  }
}

.header__flex-spacer {
  flex-grow: 1;
}
