@import "../../assets/colors";

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;

  &__logo {
    color: $primary_color;
    font-weight: bold;
    font-style: italic;
    font-size: 2em;
  }

  &__button {
    &:last-child {
      margin-left: auto;
    }
  }
}

.header__flex-spacer {
  flex-grow: 1;
}
