@import "../../assets/colors";

.block-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px;
}

.installation {
  color: $primary_color;
  padding: 15px;
}

.code {
  background-color: $bg_dark_color;
}
