@import "../../assets/colors";

.block-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 75px;

  &__text {
    flex-direction: row;
    display: flex;
    padding: 15px;
  }
}

.installation {
  color: $primary_color;
  padding: 0 15px;
  font-size: 1.1em;
}

.code {
  background-color: $bg_dark_color;
  padding: 75px;
}

.title {
  padding-bottom: 15px;
}
