<form [formGroup]="form" class="form -vertical">
  <div class="hint">
    <div class="enter-text">Enter <span class="highlight">VAT</span> to test
      (
      <ul class="vat-examples">
        <li class="vat-examples__description">e.g.</li>
        <li class="vat-examples__item" (click)="setCode('BE0411905847')">BE0411905847</li>
        <li class="vat-examples__item" (click)="setCode('RU5024051807')">RU5024051807</li>
        <li class="vat-examples__item" (click)="setCode('NL000000024B01')">NL000000024B01</li>
        <li class="vat-examples__item" (click)="setCode('MT10365719')">MT10365719</li>
        <li class="vat-examples__item" (click)="setCode('ESA0011012B')">ESA0011012B</li>
      </ul>
      )
    </div>
  </div>

  <section class="playground">
    <mat-form-field>
      <input matInput class="form__input" autocomplete="false" formControlName="vat"/>
    </mat-form-field>

    <mat-accordion class="countries-select">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Click here to select allowed countries
          </mat-panel-title>
          <mat-panel-description style="display: inline;">
            Selected countries: <span class="highlight"> {{countries.length}}</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <jsvat-countries-playground (countriesChanged)="onCountriesListUpdated($event)"></jsvat-countries-playground>
      </mat-expansion-panel>
    </mat-accordion>
  </section>

  <section class="bottom">
    <section class="features">
      <h2 class="title">Features</h2>
      <ul class="features-list">
        <li class="features-list__item">No calls;</li>
        <li class="features-list__item">No dependencies;</li>
        <li class="features-list__item">Three-shakeable;</li>
        <li class="features-list__item">Extendable;</li>
        <li class="features-list__item">Types support;</li>
      </ul>
    </section>

    <section class="result">
      <h2 class="title">Result</h2>
      <code [innerHTML]="code" class="code language-javascript"></code>
    </section>
  </section>

</form>
