@import "../../assets/colors";

.playground {
  ::ng-deep {
    .mat-form-field {
      display: flex;

      .mat-form-field-wrapper {
        flex: 1;
      }
    }
  }
}

.bottom {
  display: flex;
  justify-content: center;
  padding: 45px;
  align-self: center;
}

.features {
  flex: 1;
  padding: 0 200px;
}

.result {
  flex: 1;
  padding: 0 200px;
}

.form {
  &.-vertical {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__input {
    text-align: center;
    color: $primary_color;
  }
}

.highlight {
  color: $primary_color;
  font-weight: bold;
}

.code {
  display: block;
  background-color: $bg_dark_color;
}

.countries-select {
  ::ng-deep {
    .mat-expansion-panel {
      background-color: $bg_primary_color;
    }
  }
}

.title {
  padding-bottom: 15px;
}

.hint {
}

.vat-examples {
  display: inline-block;
  font-size: 0.9em;

  &__item {
    margin: 0 5px;
    padding: 3px;
    background-color: $bg_primary_color;
    border: 1px solid $bg_darker_color;
    color: #999999b3;
  }

  &__description {
    margin: 0 5px;
    padding: 0 3px;
    color: #999999b3;
  }
}
