<jsvat-navbar></jsvat-navbar>

<div class="logo">
  <span class="logo__js">js<span class="logo__vat">vat</span></span>
</div>

<mat-card class="content">
  <form [formGroup]="exampleForm" class="form -vertical">
    <p style="text-align: center">Enter your <span class="highlight">VAT</span> here:</p>
    <mat-form-field>
      <input matInput class="form__input" autocomplete="false" formControlName="vat"/>
    </mat-form-field>
    <code [innerHTML]="code" class="code language-javascript"></code>
  </form>
</mat-card>
