@import "../assets/colors";

.logo {
  font-weight: bold;
  font-style: italic;
  font-size: 4.2em;
  color: $primary_color;
  text-align: center;

  &__vat {
    color: $secondary_color;
  }
}

.code {
  display: block;
}
