@import "./assets/colors";
@import "./assets/prismjs-atom-x-one";
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

body.mat-app-background {
  margin: 0;
  background-color: $bg_primary_color;
  color: $text_primary_color;
  font-family: 'Roboto', sans-serif;
}
